// Place all the styles related to the Feedback controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input,textarea {
    font-family: monospace;
}

form.emailtemplate {
    float: left;
}

li {
    display: block;
}

th {
    text-align: left;
}
