// Place all the styles related to the Feedback controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input,textarea {
    font-family: monospace;
}

form.emailtemplate {
    float: left;
}

li {
    display: block;
}

th {
    text-align: left;
}

tr {
    vertical-align: top;
}

.emailfailed {
    text-decoration: line-through;
}

#feedbacklist {
    font-size: 90%;
    select {
        width: 100px;
    }

    table {
        border-collapse: collapse;
    }
    table, tr, td, th, table input, table textarea, table select {
        margin: 0;
        padding: 0;
    }
    tr.even {
        background: #EEE;
    }
    td.statusrow {
        text-align: center;
    }
    a.active {
        background-color: #FFA;
    }
    dt, dd {
        display: inline;
    }
    dt {
        font-weight: bold;
        margin: 0 0.5em 0 0;
    }
    dd {
        margin: 0 0.5em 0 0;
    }
}


.emailattempt {
    margin: 0;
}
